{% extends 'layouts/default/page.html' %}

{% load i18n %}
{% load static %}

{% block head_block %}
<title>License Management</title>
<script src="https://js.stripe.com/v3/"></script>
{% endblock head_block %}

{% block content %}
    <h3>Manage your license</h3>
    <p>You currently have a monthly license</p>
    {% if last_period %}
    <p>Your subscription will end on {{ subscription.renewal_date }}</p>
    <button id='reactivate-btn' class='btn btn-outline-primary' style='display:block;' data-toggle='modal' data-target='#modal-window'>Reactivate Subscription</button>
    {% else %}
    <p>Your next payment date is {{ subscription.renewal_date }}</p>
    <button id='checkout-btn' class='btn btn-outline-primary' style='display:block; margin-bottom:10px;'>Update Payment Information</button>
    <button id='cancel-btn' class='btn btn-outline-danger' style='display:block;' data-toggle='modal' data-target='#modal-window'>Cancel Subscription</button>
    {% endif %}
    
    <!-- Cancel subscription modal window -->
    <div id="modal-window" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {% if last_period %}
                    <h5 class="modal-title">Reactivate Subscription</h5>
                    {% else %}
                    <h5 class="modal-title">Cancel Subscription</h5>
                    {% endif %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if last_period %}
                <div class="modal-body">
                    <p>You are about to reactivate your subscription. Continue?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'payment:reactivate' sub_id=subscription.sub_id %}">
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
                {% else %}
                <div class="modal-body">
                    <p>Are you sure you want to cancel your subscription?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'payment:cancel-sub' sub_id=subscription.sub_id %}">
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% if not last_period %}
<script type="text/javascript">
    var session_id = '{{ session_id }}';
</script>
<script src="{% static 'js/stripe-checkout.js' %}"></script>
{% endif %}
{% endblock scripts %}